In [2]:
import pandas as pd

In [3]:
# Load data
file_path = "columns_final_df.json"
df = pd.read_json(file_path)

In [25]:
# Find the Top 10 Artists with the most Hot 100 songs
df['Artist'].value_counts().head(11)

Artist
Drake            43
Taylor Swift     36
Rihanna          32
Chris Brown      23
Maroon 5         22
Ariana Grande    22
Post Malone      19
Morgan Wallen    18
The Weeknd       18
Beyonc√©          18
Katy Perry       18
Name: count, dtype: int64